@model List<Infra.Entities.MiniCarrossel>

<a href="@Url.Action("Create")">Adicionar imagem</a>

<br />
<br />

<button class="btn btn-success" onclick="SalvarOrdenacao()">Salvar Ordenação</button>

<form id="ordenacao" asp-action="SalvarOrdenacao">
</form>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">MiniCarrossel</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagem</th>
                                <th>Descrição</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var MiniCarrossel in Model)
                           {
                               <tr id="@MiniCarrossel.MiniCarrosselId">
                                   <td><a target="_blank" href="@Url.Action("ObterImagem","Home",new{filename = MiniCarrossel.Caminho})">Abrir imagem</a></td>
                                   <td>@MiniCarrossel.Descricao</td>
                                    <td>
                                        <a href="@Url.Action("Edit",new{id = MiniCarrossel.MiniCarrosselId})" type="button" class="btn btn-warning btn-sm">Editar</a>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="remover('@MiniCarrossel.MiniCarrosselId')"><i class="fa fa-trash"></i></button>
                                    </td>
                               </tr>
                           }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{


<script>
    function SalvarOrdenacao()
    {
        $('.table > tbody > tr').each(function()
        {
            var index = $('.table > tbody > tr').index(this) ;

            $("<input>",{
                type : "hidden",
                name: "["+index+"].MiniCarrosselId",
                value : $(this).attr("id")
            }).appendTo("#ordenacao");


          $("#ordenacao").submit();
        });
    }

     function remover(id){
        if(confirm("tem certeza que deseja deletar?")){
            $.ajax({
                url: "@Url.Action("Remover")",
                data:{
                    id : id
                },
                success: function(){
                    window.location.reload();
                },
                error: function(){
                    alert("Erro ao excluir");
                }
            })
        }
    }
</script>
}